.principal{
    @media (max-width:767px){
        background-image: url(../../public/img/tarjetadesclub/fondoporqueafiliarmobile.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    @media (min-width:768px){
        background-image: url(../../public/img/tarjetadesclub/fondoafiliar.png);
    }
    height: auto;
    h1{
        padding: 3rem 0;
        text-transform: uppercase;
        color: #FFF;
        font-family: 'Gotham-Bold';
        font-size: 6.5rem;
        @media (max-width:767px){
            font-size: 1.6rem;
        }
         @media (min-width:767px) and (max-width:900px){
        font-size: 5rem;
        line-height: 6rem;
          }
        @media (min-width:900px) and (max-width:1200px){
            font-size: 5rem;
        }
    }
}
.grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 3rem;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 5rem;
    @media (max-width:900px){
       grid-template-columns: repeat(2,1fr);
       gap: 1rem;
       padding-bottom: 3rem;
    }
    @media (min-width:767px) and (max-width:900px){
        width: 80%;
     }
    .razonafiliar{
        border: 2px solid #FFF;
        border-radius: 3rem;
        padding: 5rem 0 2.5rem 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        @media (max-width:767px){
            padding: 3rem 0 1.5rem 0;
            border-radius: 1rem;
        }
        @media (min-width:767px) and (max-width:900px){
            padding: 2rem 0 2rem 0;
         }
        h2{
            color: #FFF;
            font-family: 'Gotham-Black';
            font-size: 2.5rem;
            margin: 2rem 0;
            font-weight: 600;
            width: 75%;
            line-height: 3.5rem;
            text-transform: uppercase;
            @media (max-width:767px){
                font-size: 1rem;
                line-height: 1.4rem;
                width: 90%;
                margin: 1rem 0 0.5rem 0;
            }
            @media (min-width:767px) and (max-width:900px){
                font-size: 2rem;
                line-height: 2.5rem;
                margin: 1rem 0;
             }
            @media (min-width:900px) and (max-width:1200px){
                font-size: 2rem;
                line-height: 2.5rem;
            }
        }
        .textoservicio{
            width: 80%;
            p{
                text-align: center;
                color: #FFF;
                font-family: 'Gotham-Medium';
                line-height: 3rem;
                @media (max-width:767px){
                    font-size: 0.7rem;
                    line-height: 1rem;
                    width: 65%;
                    margin: 0 auto;
                }
                @media (min-width:767px) and (max-width:900px){
                    font-size: 2rem;
                    line-height: 2.5rem;
                 }
            }
        }
        .imagensalud{
                width: 9.5rem;
                height: 8rem;
                @media (max-width:767px){
                    width: 3rem;
                    height: 2.4rem;
                    margin-bottom: 0.8rem;
                }
                @media (min-width:767px) and (max-width:900px){
                    width: 9.5rem;
                height: 8rem;
                    margin-bottom: 1rem;
                 }
        }
        .imagenclientesregresen{
            width: 10rem;
            height: 10rem;
            @media (max-width:767px){
                width: 2.3rem;
                height: 2.4rem;
            }
            @media (min-width:767px) and (max-width:900px){
                width: 9rem;
                height: 9rem;
             }
        }
        .imagennuevosclientes{
            width: 7.5rem;
            height: 9.5rem;
            @media (max-width:767px){
                width: 1.7rem;
                height: 2.4rem;
            }
            @media (min-width:767px) and (max-width:900px){
                width: 7rem;
                height: 8.5rem;
             }
        }
        .imagenqueteconozcan{
            width: 8.5rem;
            height: 8rem;
            @media (max-width:767px){
                width: 3rem;
                height: 2.3rem;
                margin-bottom: 1rem;
            }
            @media (min-width:767px) and (max-width:900px){
                width: 8rem;
                height: 7.5rem;
                margin-bottom: 0.8rem;
             }
        }
    }
}