.principal{
    background-image: url(../../public/img/tarjetadesclub/fondoafiliar.png);
    height: auto;
    h1{
        padding: 3rem 0;
        text-transform: uppercase;
        color: #FFF;
        font-family: 'Gotham-Bold';
        font-size: 6.5rem;
    }
}
.grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 3rem;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 5rem;
    .razonafiliar{
        border: 2px solid #FFF;
        border-radius: 3rem;
        padding: 5rem 0 2.5rem 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        h2{
            color: #FFF;
            font-family: 'Gotham-Black';
            font-size: 2.5rem;
            margin: 2rem 0;
            font-weight: 600;
            width: 75%;
            line-height: 3.5rem;
            text-transform: uppercase;
        }
        .textoservicio{
            width: 80%;
            p{
                text-align: center;
                color: #FFF;
                font-family: 'Gotham-Medium';
                line-height: 3rem;
            }
        }
        .imagensalud{
                width: 9.5rem;
                height: 8rem;
        }
        .imagenclientesregresen{
            width: 10rem;
            height: 10rem;
        }
        .imagennuevosclientes{
            width: 7.5rem;
            height: 9.5rem;
        }
        .imagenqueteconozcan{
            width: 8.5rem;
            height: 8rem;
        }
    }
}