
.marcas {
    margin-left: .3rem;
    overflow: hidden;
    padding-top: 5.5rem;
    }
   .marca{
        height: 12rem;
        display: flex !important;
        flex-direction: column;
        width: calc(100% - 3px) !important;
        @media (min-width:768px) and (max-width:1024px){
            height: auto;
        }
        .imagen{
            width: 100%;
            img{
                height: 100%;
                width: 100%;
            }
        }
       
    } 