.contenidoprincipal{
    height: auto;
    display: grid;
    grid-template-columns: 50% 50%;
 
}
.imagenprincipal{
    position: relative;
   img{
    height: 100%;
   }
}
.imagenprincipal::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: url(../../public/img/EmpresaDesclub/degradadoprincipal.png)
}
.titulos{
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: center;
    h1{
    font-family: 'Gotham-Medium';
    font-size: 9rem;
    line-height: 9rem;
    color: #FF7400;
    text-align: left;
    text-transform: uppercase;
    width: 90%;
    }
    .fondoazul{
        background-color: #158BC8;
        width: 90%;
        h1{
            color: #FFF;
            font-family: 'Gotham-Bold';
            font-size: 6rem;
            text-align: left;
            padding-right: 0;
            width: 100%;
        }
    }
    .alineaizquierda{
        display: flex;
        align-items: center;
        justify-content: right;
    }
}
.parrafo{
    width: 75%;
    margin: 3rem auto 2rem auto;
    p{
        color: #5C5B5B;
        font-family: 'Gotham-Medium';
        font-size: 2.2rem;
        line-height: 3.2rem;
        margin: 4rem 0;
        text-align: center;
    }
}
