.contenedorprincipal{
    height: auto;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 4rem;
    @media (max-width:767px){
        padding-bottom: 0;
    }
    @media (min-width:767px)and (max-width:900px){
        padding-bottom: 0;
        height: 120rem;
    }
} 
.texto{
    margin-bottom: 8rem;
    @media (max-width:767px){
        margin-bottom: 0;
    }
    @media (min-width:767px) and (max-width:900px){
        margin-bottom: 4rem;
      }
    h1{
        font-family: 'Gotham-Bold';
        font-size: 7rem;
        color: #158BC8;
        text-transform: uppercase;
        margin: 4rem 0 2rem 0;
        @media (max-width:767px){
            font-size: 1.8rem;
          margin: 2rem 0;
        }
        @media (min-width:767px) and (max-width:900px){
            font-size: 6rem;
         }
    }
    .textodesktop{
        @media(max-width: 899px){
            display: none;
        }
        p{
            text-align: center;
            color: #5C5B5B;
            font-family: 'Gotham-Medium';
            font-size: 2rem;
            margin: 0;
        }
    }
}
.grid{
    display: grid;
    @media (min-width:900px){
        grid-template-columns: 55% 45%;
    }
    @media (max-width:767px){
    grid-template-rows: 30% 70%;
    }
    @media (min-width:768px)and (max-width:900px){
    grid-template-rows: 70% 30%;
    }

}
.campos{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    @media (min-width:767px) and (max-width:900px){
        width: 90%;
        margin: 0 auto;
     }
    @media (max-width:900px){
        grid-row: 2/3;
        }
    form{
        width: 80%;
        @media (max-width:1200px){
            width: 90%;
            margin: 0 auto;
             }
             @media (min-width:900px) and (max-width:1200px){
                width: 95%;
                margin: 0 auto;
               }
    }
    .campo{
        display: flex;
        flex-direction: column;
        margin: 1rem 0;
        .campo_label{
        margin-left: 1.5rem;
        color: #5C5B5B;
        font-family: 'Gotham-Bold';
        font-size: 1.5rem;
        @media (min-width:767px) and (max-width:900px){
            font-size: 1.6rem;
         }
        @media (max-width:767px){
            font-size: 0.8rem;
        }
        }
        .campo_field{
            width: 100%;
            border-radius: 1rem;
            padding: 1.2rem 0;
            border:1px solid #D8D8D8;
            box-shadow: 0px 3px 6px #00000029;
            @media (max-width:767px){
                padding: 0.4rem 0;
             }
        }
        .campo_field_textarea{
            width: 100%;
            border-radius: 1rem;
            border:1px solid #D8D8D8;
            box-shadow: 0px 3px 6px #00000029;
            height: 10rem;
            @media (max-width:480px){
                height: 5rem;
            }
        }
    }
}

.imagenformulario{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 70%;
    @media (max-width:900px){
        width: 100%;
        height: 25rem;
    }
    @media (min-width:900px) and (max-width:1200px){
       margin: 0 auto;
    }
    img{
        height: 49rem;
        @media (max-width:767px){
           height: 15.5rem;
           width: 11.1rem;
           margin: 0 auto;
        }
        @media (min-width:768px) and (max-width:900px){
            height: 45rem;
            width: 25rem;
            margin: 0 auto;
          }
        @media (min-width:900px) and (max-width:1200px){
           height: 48rem;
           width: 35rem;
        }
    }
    .textomobile{
        @media (min-width:900px){
            display: none;
        }
        p{
            text-align: center;
            color: #5C5B5B;
            font-family: 'Gotham-Medium';
            margin: 2rem 0;
            @media (max-width:767px){
                font-size: 1rem;
                line-height: 1.2rem;
                width: 60%;
                margin: 0 auto;
            }
            @media (min-width:767px) and (max-width:900px){
                font-size: 1.8rem;
                line-height: 2.5rem;
                width: 75%;
                margin: 0 auto;
             }
        }
    }
}

.avisoprivacidad{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 2rem 0;
    label{
        font-family: 'Gotham-Bold';
        font-size: 1.4rem;
        color: #5C5B5B;
        @media (max-width:480px){
            font-size: 0.8rem;
        }
        @media (min-width:480px) and (max-width:900px){
            font-size: 1.8rem;
         }
    }
    a{
        color: #158BC8;
        text-decoration: underline;
    }
}

.contenedorboton{ 
    display: flex;
    justify-content: flex-end;
    margin-right: 4rem;
    @media (max-width:480px){
        margin-right: 2rem;
    }
    .botonenviar{
        display: flex;
        align-items: center;
        margin-top: 1rem;
        border-radius: 4rem;
        padding: 0.5rem 2.5rem;
        background-color:  #158BC8;
        color: #FFF;
        border: none;
        font-size: 2.5rem;
        font-weight: bold;
        font-family: 'Roboto',sans-serif;
        text-align: left;
        @media (max-width:767px){
            padding: 0.5rem 1.5rem;
            font-size: 1.1rem;
            margin-top: 0;
        }
        img{
            margin-left: 3rem;
            @media (max-width:767px){
                margin-left: 1.2rem;
                width: 1rem;
                height: 1rem;
            }
            @media (min-width:767px) and (max-width:900px){
                width: 2rem;
                height: 2rem;
                margin-left: 1rem;
             }
            @media (min-width:900px) and (max-width:1200px){
                margin-left: 1.5rem;
            }
        }
    }
    .botonenviar:hover{
        background-color:  darken(#158BC8,5);;
        cursor: pointer;
    }
}