.fondoprincipal{
    background-image: url(../../public/img/EmpresaDesclub/degradadoservicios.png);
    height: auto;
    h1{
        font-family: 'Gotham-Medium';
        color: #FFF;
        font-size: 6rem;
        padding-top: 2rem;
        text-transform: uppercase;
        @media (max-width:767px){
            font-size: 1.6rem;
            padding: 2rem 0;
        }
        @media (min-width:767px) and (max-width:900px){
           font-size: 5rem;
            }
    }
} 
.gridimagenes{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    margin: 2rem auto;
    gap: 2rem;
    width: 85%;
    @media (max-width:767px){
        gap: 0.1rem;
        width: 90%;
        margin: 1rem auto;
    }
    @media (min-width:767px) and (max-width:900px){
        gap: 1rem;
        width: 95%;
        margin: 1rem auto;
    }
    @media (min-width:900px) and (max-width:1200px){
        gap: 1.2rem;
        width: 90%;
        margin: 1rem auto;
    }
    .gridbeneficios{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        @media (max-width:480px){
            width: 95%;
            margin: 0 auto;
        }
       .beneficios{
        width: 8.5rem;
        height: 10rem;
        @media (max-width:767px){
            width: 2.6rem;
            height: 2.5rem;
        }
        @media (min-width:767px) and (max-width:900px){
            width: 5rem;
            height: 6rem;
         }
       }
       .dinamicas{
        width: 9rem;
        height: 9rem;
        @media (max-width:767px){
            width: 2.6rem;
            height: 2.6rem;
        }
        @media (min-width:767px) and (max-width:900px){
            width: 6rem;
            height: 6rem;
         }
       }
       .incentivos{
        width: 8rem;
        height: 9rem;
        @media (max-width:767px){
            width: 2.6rem;
            height: 2.6rem;
        }
        @media (min-width:767px) and (max-width:900px){
            width: 6rem;
            height: 7rem;
         }
       }
       .puntos{
        width: 8rem;
        height: 10rem;
        @media (max-width:767px){
            width: 2.6rem;
            height: 2.5rem;
        }
        @media (min-width:767px) and (max-width:900px){
            width: 6rem;
            height: 7rem;
         }
         @media (min-width:900px) and (max-width:1200px){
            padding-bottom: 1rem;
           }
       }
       .asistencias{
        width: 7rem;
        height: 8rem;
        @media (max-width:767px){
            width: 1.9rem;
            height: 2.3rem;
        }
        @media (min-width:767px) and (max-width:900px){
            width: 6rem;
            height: 7rem;
         }
         @media (min-width:900px) and (max-width:1200px){
           margin-bottom: 1rem;
          }
       } 
        h4{
            font-family: 'Gotham-Medium';
            color: #FFF;
            text-align: center;
            font-size: 2rem;
            text-transform: uppercase;
            line-height: 3rem;
            margin-top: 1rem;
            @media (max-width:767px){
                font-size: 0.5rem;
                line-height: 0.8rem;
            }
            @media (min-width:767px) and (max-width:900px){
                font-size: 1.5rem;
                line-height: 1.7rem;
             }
             @media (min-width:900px) and (max-width:1200px){
              line-height: 2.2rem;
            }
        }
        h3{
            font-family: 'Gotham-Black';
            color: #FFF;
            text-align: center;
            font-size: 2rem;
            text-transform: uppercase;
            line-height: 3rem;
            margin-top: 1rem;
            @media(max-width:767px){
                font-size: 0.6rem;
                line-height: 0.8rem;
            }
            @media (min-width:767px) and (max-width:900px){
                font-size: 1.5rem;
                line-height: 1.7rem;
             }
             @media (min-width:900px) and (max-width:1200px){
                line-height: 2.2rem;
              }
        }
    }
}

.contenedorprincipal{
    width: 85%;
    margin: 0 auto;
    height: auto;
    position: relative;
    padding-bottom: 4rem;
    @media (max-width:767px){
        width: 90%;
    }
    @media (min-width:767px) and (max-width:900px){
      width: 95%;
      margin: 0 auto    ;
    }
    @media (min-width:900px) and (max-width:1200px){
        width: 90%;
        margin: 0 auto;
       }
.contenedorimagen{
    img{
        width: 100%;
        height: 100%;
        @media (max-width:767px){
            height: 10rem;
        }
    }
}
.contenedortexto{
    width: 97%;
    position: absolute;
    top: 5rem;
    left: 2.5rem;
    @media (max-width:480px){
        top: 1.5rem;
        left: 1rem;
        width: 95%;
    }
    @media (min-width:480px) and (max-width:767px){
        top: 1.5rem;
        left: 1.4rem;
        width: 95%;
    }
    @media (min-width:767px) and (max-width:900px){
       top: 2.5rem;
       left: 1.5rem;
     }
    @media (min-width:900px) and (max-width:1200px){
        top: 3rem;
        left: 1.5rem;
    }
    p{
        color: #FFF;
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 3rem;
        text-align: left;
        margin-bottom: 2rem;
        font-family: 'Gotham-Medium';
        @media (max-width:480px){
            font-size: 0.6rem;
            line-height: 0.8rem;
            font-family: 'Gotham-Medium';
            margin-bottom: 0.5rem;
          }
          @media (min-width:480px) and (max-width:767px){
              font-size: 1.2rem;
              line-height: 1.4rem;
              margin-bottom: 0.5rem;
          }
          @media (min-width:767px) and (max-width:900px){
              font-size: 1.5rem;
              line-height: 1.8rem;
              margin-bottom: 1rem;
           }
          @media (min-width:900px) and (max-width:1200px){
              font-size: 2rem;
              line-height: 2.5rem;
          }
        
    }
    .centrartexto{
        text-align: center;
    }
    span{
        font-family: 'Gotham-Black';
        font-size: 2rem;
        @media (max-width:480px){
            font-size: 0.6rem;
            line-height: 0.8rem;
          }
          @media (min-width:480px) and (max-width:767px){
              font-size: 1.4rem;
              line-height: 1.8rem;
          }
          @media (min-width:767px) and (max-width:900px){
              font-size: 1.5rem;
              line-height: 1.5rem;
           }
          @media (min-width:900px) and (max-width:1200px){
              font-size: 2rem;
              line-height: 2.5rem;
          }
    }
    .textolista{
        p{
            margin-bottom: 0;
        }
    }
}
.contenedortextopuntos{
    width: 97%;
    position: absolute;
    top: 5rem;
    left: 2.5rem;
    @media (max-width:480px){
        top: 1.2rem;
        left: 1rem;
        width: 95%;
    }
    @media (min-width:480px) and (max-width:767px){
        top: 1.5rem;
        left: 1.4rem;
        width: 95%;
    }
    @media (min-width:767px) and (max-width:900px){
       top: 2.2rem;
       left: 1.5rem;
     }
    @media (min-width:900px) and (max-width:1200px){
        top: 3rem;
        left: 1.5rem;
    }
    p{
        color: #FFF;
        font-size: 2rem;
        font-family: 'Gotham-Medium';
        line-height: 3rem;
        text-align: left;
        @media (max-width:480px){
            font-size: 0.6rem;
            line-height: 0.8rem;
            font-family: 'Gotham-Medium';
            margin-bottom: 0.2rem;
          }
          @media (min-width:480px) and (max-width:767px){
              font-size: 1.2rem;
              line-height: 1.4rem;
              margin-bottom: 0.2rem;
          }
          @media (min-width:767px) and (max-width:900px){
              font-size: 1.5rem;
              line-height: 1.5rem;
              margin-bottom: 0.6rem;
           }
          @media (min-width:900px) and (max-width:1200px){
              font-size: 2rem;
              line-height: 2.5rem;
          }
    }
    .centrartexto{
        text-align: center;
    }
    span{
        font-family: 'Gotham-Black';
        font-size: 2.2rem;
        @media (max-width:480px){
            font-size: 0.6rem;
            line-height: 0.8rem;
          }
          @media (min-width:480px) and (max-width:767px){
              font-size: 1.4rem;
              line-height: 1.8rem;
          }
          @media (min-width:767px) and (max-width:900px){
              font-size: 1.8rem;
              line-height: 2rem;
           }
          @media (min-width:900px) and (max-width:1200px){
              font-size: 2rem;
              line-height: 2.7rem;
          }
    }
    .textolista{
        p{
            margin-bottom: 0;
        }
    }
}
}

.boton{
    background: none;
    border: none;
}