.fondoprincipal{
    background-image: url(../../public/img/EmpresaDesclub/degradadoservicios.png);
    height: auto;
    h1{
        font-family: 'Gotham-Medium';
        color: #FFF;
        font-size: 6rem;
        padding-top: 2rem;
        text-transform: uppercase;
    }
}
.gridimagenes{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    margin: 2rem auto;
    gap: 2rem;
    width: 85%;
    .gridbeneficios{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
       .beneficios{
        width: 8.5rem;
        height: 10rem;
       }
       .dinamicas{
        width: 9rem;
        height: 9rem;
       }
       .incentivos{
        width: 8rem;
        height: 9rem;
       }
       .puntos{
        width: 8rem;
        height: 10rem;
       }
       .asistencias{
        width: 7rem;
        height: 8rem;
       }
        h4{
            font-family: 'Gotham-Black';
            color: #FFF;
            text-align: center;
            font-size: 2rem;
            text-transform: uppercase;
            line-height: 3rem;
            margin-top: 1rem;
        }
    }
}

.contenedorprincipal{
    width: 85%;
    margin: 0 auto;
    height: auto;
    position: relative;
    padding-bottom: 4rem;
.contenedorimagen{
    img{
        width: 100%;
        height: 100%;
    }
}
.contenedortexto{
    width: 97%;
    position: absolute;
    top: 5rem;
    left: 2.5rem;
    p{
        color: #FFF;
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 3rem;
        text-align: left;
        margin-bottom: 2rem;
        font-family: 'Gotham-Medium'
    }
    .centrartexto{
        text-align: center;
    }
    span{
        font-family: 'Gotham-Black';
        font-size: 2rem;
    }
    .textolista{
        p{
            margin-bottom: 0;
        }
    }
}
.contenedortextopuntos{
    width: 97%;
    position: absolute;
    top: 5rem;
    left: 2.5rem;
    p{
        color: #FFF;
        font-size: 2rem;
        font-family: 'Gotham-Medium';
        line-height: 3rem;
        text-align: left;
    }
    .centrartexto{
        text-align: center;
    }
    span{
        font-family: 'Gotham-Black';
        font-size: 2.2rem;
    }
    .textolista{
        p{
            margin-bottom: 0;
        }
    }
}
}

.boton{
    background: none;
    border: none;
}