.contenedorfondo{
    width: 100%;
    height: auto;
    background-size: cover;
    background-image: url(../public/img/fondo.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
