//Variables globales

@font-face {
  font-family: 'Gotham-Black';
  src: url('../public/gotham/Gotham-Black.otf');
}
@font-face {
  font-family: 'Gotham-BlackIta';
  src: url('../public/gotham/Gotham-BlackIta.otf');
}
@font-face {
  font-family: 'Gotham-Bold';
  src: url('../public/gotham/Gotham-Bold.otf');
}
@font-face {
  font-family: 'Gotham-BoldIta';
  src: url('../public/gotham/Gotham-BoldIta.otf');
}
@font-face {
  font-family: 'Gotham-Book';
  src: url('../public/gotham/Gotham-Book.otf');
}
@font-face {
  font-family: 'Gotham-BookIta';
  src: url('../public/gotham/Gotham-BookIta.otf');
}
@font-face {
  font-family: 'Gotham-Light';
  src: url('../public/gotham/Gotham-Light.otf');
}
@font-face {
  font-family: 'Gotham-Light';
  src: url('../public/gotham/Gotham-Light.otf');
}
@font-face {
  font-family: 'Gotham-LightIta';
  src: url('../public/gotham/Gotham-LightIta.otf');
}
@font-face {
  font-family: 'Gotham-Medium';
  src: url('../public/gotham/Gotham-Medium.otf');
}
@font-face {
  font-family: 'Gotham-MediumIta';
  src: url('../public/gotham/Gotham-MediumIta.otf');
}
@font-face {
  font-family: 'Gotham-Thin';
  src: url('../public/gotham/Gotham-Thin.otf');
}
@font-face {
  font-family: 'Gotham-ThinIta';
  src: url('../public/gotham/Gotham-ThinIta.otf');
}
@font-face {
  font-family: 'Gotham-Ultra';
  src: url('../public/gotham/Gotham-Ultra.otf');
}
@font-face {
  font-family: 'Gotham-UltraIta';
  src: url('../public/gotham/Gotham-UltraIta.otf');
}
@font-face {
  font-family: 'Gotham-XLight';
  src: url('../public/gotham/Gotham-XLight.otf');
}
@font-face {
  font-family: 'Gotham-XlightIta';
  src: url('../public/gotham/Gotham-XLightIta.otf');
}


html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-size: 1.6rem;
  line-height: 1.8;
  &.body-scroll{
      padding-top: 10rem;
  }
}
p {
  font-size: 2rem;
  margin: 0;
}
.contenedor {
  width: 95%;
  max-width: 120rem;
  margin: 0 auto;
}



.centra{
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-mostrar{
  display: none;
}
a {
  text-decoration: none;
}

img,
picture {
  width: 100%;
  display: block;
}

h1, h2, h3,h4 {
  font-weight: 300;
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 3.8rem;
}
h2 {
  font-size: 3.4rem;
}
h3 {
  font-size: 3rem;
}
h4 {
  font-size: 2.6rem;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
-webkit-appearance: none; 
margin: 0; 
}

//Estilos Imagenes

.imagen1{
  position: relative;
  width: 100%;
  img{
      height: 100%;
  }
}
.imagen1::before{
position: absolute;
content: '';
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;   
  background-image: url(../public/img/tarjetadesclub/carruseles/degradadoeducacion.svg); 
}
.imagen2{
  position: relative;
  width: 100%;
  img{
      height: 100%;
  }
}
.imagen2::before{
position: absolute;
content: '';
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;   
  background-image: url(../public/img/tarjetadesclub/carruseles/degradadoentretenimiento.png); 
}
.imagen3{
  position: relative;
  width: 100%;
  img{
      height: 100%;
  }
}
.imagen3::before{
position: absolute;
content: '';
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;   
  background-image: url(../public/img/tarjetadesclub/carruseles/degradadoalimentos.png); 
}
.imagen4{
  position: relative;
  width: 100%;
  img{
      height: 100%;
  }
}
.imagen4::before{
position: absolute;
content: '';
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;   
  background-image: url(../public/img/tarjetadesclub/carruseles/degradadodeportes.png); 
}
.imagen5{
  position: relative;
  width: 100%;
  img{
      height: 100%;
  }
}
.imagen5::before{
position: absolute;
content: '';
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;   
  background-image: url(../public/img/tarjetadesclub/carruseles/degradadoturismo.png); 
}
.imagen6{
  position: relative;
  width: 100%;
  img{
      height: 100%;
  }
}
.imagen6::before{
position: absolute;
content: '';
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;   
  background-image: url(../public/img/tarjetadesclub/carruseles/degradadobelleza.png); 
}
.imagen7{
  position: relative;
  width: 100%;
  img{
      height: 100%;
  }
}
.imagen7::before{
position: absolute;
content: '';
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;   
  background-image: url(../public/img/tarjetadesclub/carruseles/degradadomoda.png); 
}
.imagen8{
  position: relative;
  width: 100%;
  img{
      height: 100%;
  }
}
.imagen8::before{
position: absolute;
content: '';
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;   
  background-image: url(../public/img/tarjetadesclub/carruseles/degradadoservicios.png); 
}
.imagen9{
  position: relative;
  width: 100%;
  img{
      height: 100%;
  }
}
.imagen9::before{
position: absolute;
content: '';
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;   
  background-image: url(../public/img/tarjetadesclub/carruseles/degradadotecnologia.png); 
}