.contenedorheader{
    width: 95%;
    margin: 0 auto;
    &.fijo{
        left: 0;
        top: 0;
        position: fixed;
        width: 100%;
        z-index: 20;
    }
}
.header{
    background-color: #FFF;
    height: 4.5rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding: 0.7rem 0; 
}
.logomarca{
    width: 65%;
    img{
        width: 9.1rem;
        height: 1.7rem;
        @media (min-width:768px) and (max-width:900px){
           max-width: 20rem;
        }
    }
    .logoempresa{
        width: 14rem;
        height: 1.9rem;
    }
}
.mobilemenu{
    cursor: pointer;
    width: 20%;
    min-width: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 1rem;
    @media (max-width:767px){
        justify-content: flex-end;
    }
}
.centrar{
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.redes{
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    margin-right: 1rem;
    img{
        @media (max-width:480px){
            width: 1.8rem;
            height: 1.8rem;
        }
        @media (min-width:480px)and (max-width:768px){
            width: 3rem;
            height: 3rem;
        }
        @media (min-width:768px)and (max-width:900px){
            width: 3.5rem;
            height: 3.5rem;
        }
    }
}
.boton{
    background: none;
    border: none;
}

.sidebar{
    background-color: #F7F7F7;
    width: 22rem;
    left: -30rem;
    height: 80%;
    position: fixed;
    top: 4.4rem;
    overflow-y: auto;
    transition: 0.6s ease;
    transition-property: left;
    border-bottom-right-radius: 8rem;
    z-index: 30;
    border-bottom:3px solid #D8D8D8;
        box-shadow: 0px 3px 6px #00000029;
    .navegacion{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 4rem;
        a{
            position: relative;
            text-align: left;
            color: #838383;
            font-size: 1.6rem;
            display: block;
            font-family: 'Gotham-Book';
            text-transform: uppercase;
            margin-left: 3rem;
            height: 4rem;
            border-bottom: 1px solid #DEDEDE;
            width: 80%;
            margin-bottom: 2rem;
            &:hover{
                border-radius: 0.5rem;
                transition: 0.5s;
                font-size: 1.8rem;
                cursor: pointer;
            }
    }
    a:last-of-type{
        border-bottom: none;
    }
}
}
.abrir{
    left: 0;
}
