.contenedorheader{
    width: 95%;
    margin: 0 auto;
    &.fijo{
        left: 0;
        top: 0;
        position: fixed;
        width: 100%;
        z-index: 20;
    }
}
.header{
    background-color: #FFF;
    height: 8rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: max-content;
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding: 0.7rem 0;
}
.logomarca{
    width: 65%;
    img{
        width: 95%;
        max-width: 25rem;
        height: 3.1rem;
        @media (max-width:767px){
            margin: 0 auto;
        }
        @media (min-width:768px) and (max-width:900px){
           max-width: 20rem;
        }
    }
}
.mobilemenu{
    cursor: pointer;
    width: 20%;
    min-width: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 1rem;
    @media (max-width:767px){
        justify-content: flex-end;
    }
}
.centrar{
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.redes{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    margin-right: 1rem;
    img{
        @media (max-width:480px){
            width: 2.5rem;
            height: 2.5rem;
        }
        @media (min-width:480px)and (max-width:768px){
            width: 3rem;
            height: 3rem;
        }
        @media (min-width:768px)and (max-width:900px){
            width: 3.5rem;
            height: 3.5rem;
        }
    }
}
.boton{
    background: none;
    border: none;
}